<%= simple_form_for @service do |f| %>
    <p>
        <%= f.input :title %>
    </p>
    <p> 
        <%= f.input :description %> 
    </p>
    <p> 
        <%= f.input :location, label: "City/Suburb" %> 
    </p>
    <p> 
        <%= f.input :price %> 
    </p>
    <p>
        <%= f.input :photo %>
    </p>
    <p>
        <%= f.submit %>
    </p>

<% end %>