<h1>Show Service</h1>

<h2> <%= @service.title  %></h2>
<p><%= @service.user.name %></p>
<p><%= @service.description %></p>
<p> $<%= @service.price %> </p>
<p> <%= @service.location %> </p>

<p> <%= link_to "Back", services_path %> </p>