<%= simple_form_for @equipment_listing do |f| %>

    <p>
        <%= f.input :title %>
    </p>
    <p> 
        <%= f.input :item_type_id, collection: @item_type %> 
    </p>
    <p> 
        <%= f.input :condition_id, collection: @condition %> 
    </p>
    <p> 
        <%= f.input :description %> 
    </p>
    <p> 
        <%= f.input :address, label: "City/Suburb" %> 
    </p>
    <p> 
        <%= f.input :price %> 
    </p>
    <p>
        <%= f.input :photos, :input_html => { :multiple => true }, hint: "Upload Limit: 3" %>
    </p>
    <p>
        <%= f.submit %>
    </p>

<% end %>