<script>
  function initAutocomplete() {

    // Create the search box and link it to the UI element.
    const inputs = document.getElementsByClassName("google");
    for (let i = 0; i < inputs.length; i++) {
      const searchBox = new google.maps.places.SearchBox(inputs[i]);

      // Listen for the event fired when the user selects a prediction and retrieve
      // more details for that place.
      searchBox.addListener("places_changed", () => {
        const places = searchBox.getPlaces();

        if (places.length == 0) {
          return;
        }
      });
    }
  }
</script>
<%= simple_form_for @equipment_listing do |f| %>

    <%= f.error_notification %>

    <p>
        <%= f.input :title %>
    </p>
    <p> 
        <%= f.input :item_type_id, collection: @item_type, selected: @item_type %> 
    </p>
    <p> 
        <%= f.input :condition_id, collection: @condition, selected: @condition %>
    </p>
    <p> 
        <%= f.input :description %> 
    </p>
    <p> 
        <%= f.input :address, label: "City/Suburb", :input_html => {class: 'google'} %> 
    </p>
    <p> 
        <%= f.input :price %> 
    </p>
    <p>
    <script>
        function removeHiddenInput(id, index) {

            let buttons = Array.from(document.getElementsByClassName(`button-${id}`))
            let inputs = document.getElementsByClassName(`input-${id}`)
            let images = document.getElementsByClassName(`image-${id}`)
            // for (let i = 0; i < toRemove.length; i++) {
            //     toRemove[i].remove()
            // }
            index = buttons.findIndex((e) => e.dataset.index == index)
            let button = buttons[index]
            let input = inputs[index]
            let image = images[index]
            button.remove()
            input.remove()
            image.remove()
        }
    </script>
        <%= f.input :photos, :input_html => { :multiple => true }, hint: "Upload Limit: 5" %>
        <% if @equipment_listing.photos.blobs != [] %>
            <% @equipment_listing.photos.each_with_index do |photo, index| %>
                <button type="button" data-index='<%= index %>' class="button-<%= photo.signed_id %>" onclick="removeHiddenInput('<%= photo.signed_id %>', '<%= index %>')">Remove</button>
                <%= cl_image_tag photo.key, crop: :scale, width: 150, cloud_name: 'boggyboi', class: "image-#{photo.signed_id}" %>
                <%= f.input :photos, as: :hidden, :input_html => { multiple: true, value: photo.signed_id, class: "input-#{photo.signed_id}" } %>
            <% end %>
        <% end %>
    </p>
    <p>
        <%= f.submit %>
    </p>

<% end %>

<script
      src=<%="https://maps.googleapis.com/maps/api/js?key=#{ENV["GOOGLE_PLACES_API"]}&callback=initAutocomplete&libraries=places&v=weekly"%>
      async
    ></script>