<%= form_with model: @equimpent_listing, local: true do |f| %>


    <%= f.hidden_field :user_id, value: current_user.id %>
    <p>
        <%= f.label :title %>
        <%= f.text_field :title %>
    </p>
    <p>
        <%= f.label "Catgeory" %>
        <%= f.collection_select :item_type_id, @item_type, :id, :name %>
    </p>
    <p>
        <%= f.label "Condition" %>
        <%= f.collection_select :condition_id, @condition, :id, :name %>
    </p>
    <p>
        <%= f.label "Price $" %>
        <%= f.text_field :price %>
    </p>
    <p>
        <%= f.submit "Create Listing" %>
        
    </p>

<% end %>