<h1>SHOW LISTING</h1>

<h2><%= @equipment_listing.title %></h2>
<p>Category: <%= @equipment_listing.item_type.name %> </p>
<p>Condition: <%= @equipment_listing.condition.name %> </p>
<p>Description: <%= @equipment_listing.description %> </p>
<p>Price: <%= @equipment_listing.price %> </p>
<p>Location: <%= @equipment_listing.address %> </p>

<p> 
<%= link_to "Back", equipment_listings_path %>
|
<%= link_to "Edit", edit_equipment_listing_path if policy(@equipment_listing).edit? %>
|
<%= link_to "Delete", method: :delete, data: {confirm: "Are you sure" } if policy(@equipment_listing).destroy? %>
</p>